@model ET.FuentePoder
<script>
    const SoloNumeros = (evt) => {
        if (window.event)
            keynum = evt.keyCode;
        else
            keynum = evt.which;
        if (keynum > 47 && keynum < 58 || keynum == 8 || keynum == 13)
            return true;
        else {
            swal("Ha ocurrido un problema", "Ingrese unicamente numeros", "success");
            return false;
        }
    }
</script>
<div class="row">
    <div class="col-md-4 offset-md-4 col-sm-12 text-center">
        <h1 class="subtitle">Guardar</h1>
    </div>
    <div class="col-md-8"></div>
    <div class="col-md-8 offset-md-2 col-sm-12">
        <form method="post" asp-action="Create" asp-asp-controller="FuentePoder" class="form-control">
            <!--Organizacion de los inputs con columnas nested-->
            <div class="row">
                <div class="col-md-12 p-3">
                    <input asp-for="Descripcion" class="form-control" type="text" placeholder="Descripcion">
                </div>
                <div class="col-md-12 p-3">
                    <input asp-for="Potencia" class="form-control" type="text" placeholder="Potencia (W)" onkeypress="SoloNumeros(event)">
                </div>
                <div class="col-md-12 p-2 text-center">
                    <label>Cantidad de Puertos:</label>
                </div>
                <div class="col-md-4 offset-md-2 col-sm-12 p-3">
                    <input asp-for="CantidadConectoresSATA" id="sata" class="form-control" type="number" placeholder="SATA" onkeypress="SoloNumeros(event)">
                </div>
                <div class="col-md-4 col-sm-12 p-3">
                    <input asp-for="CantidadConectoresPCIe" id="pcie" class="form-control" type="number" placeholder="PCIe" onkeypress="SoloNumeros(event)">
                </div>
                <div class="col-md-12 p-2 text-center">
                    <label>Medidas:</label>
                </div>
                <div class="col-md-4 offset-md-2 col-sm-12 p-3">
                    <input asp-for="Altura" class="form-control" type="text" placeholder="Altura (Cm)" onkeypress="SoloNumeros(event)">
                </div>
                <div class="col-md-4 col-sm-12 p-3">
                    <input asp-for="Ancho" class="form-control" type="text" placeholder="Anchura (Cm)" onkeypress="SoloNumeros(event)">
                </div>
                <div class="col-md-4 offset-md-4 col-sm-12 p-2 text-center">
                    <button class="btn btn-outline-dark" type="submit">
                        <span>Guardar &plus;</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>