@model ET.DTO.Almacenamiento_DTO
<div class="row">
    <div class="col-md-4 offset-md-4 col-sm-12 text-center">
        <h1 class="subtitle">Editar</h1>
    </div>
    <div class="col-md-8"></div>
    <div class="col-md-8 offset-md-2 col-sm-12">
        <form method="post" asp-action="Edit" aspasp-controller="Almacenamiento" class="form-control">
            <!--Organizacion de los inputs con columnas nested-->
            <div class="row">
                <div class="col-md-12 p-3">
                    <input asp-for="descripcion" class="form-control" type="text" placeholder="Descripcion" value="@Model.descripcion">
                </div>
                <div class="col-md-12 p-3">
                    <input asp-for="consumoEnergia" class="form-control" type="text" placeholder="Consumo (W)" value="@Model.consumoEnergia">
                </div>
                <div class="col-md-4 offset-md-2 col-sm-12 p-4">
                    <label for="">Es m.2:</label>
                    <input class="form-check-input" type="checkbox" value="" asp-for="m2" value="@Model.m2">
                </div>
                <div class="col-md-4 col-sm-12 p-2">
                    <input asp-for="capacidad" class="form-control" type="text" placeholder="Capacidad" value="@Model.capacidad">
                </div>
                <div class="col-md-4 offset-md-4 col-sm-12 p-2">
                    <button class="btn btn-outline-dark" type="submit">
                        <span>Guardar &plus;</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>