@{
}
@{
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 offset-md-4 col-sm-12 p-3">
            <h1 class="title text-center">Gestión de los dispositivos de Almacenamiento del catálogo</h1>
        </div>
        <div class="col-md-4 col-sm-12"></div>
        <div class="col-md-8 offset-md-2 p-2 text-center">
            <form action="" class="form-control">
                <div class="col-md-12 input-group p-3">
                    <input class="form-control col-md-10" type="text" placeholder="Descripcion" onchange="alert('Evento busqueda')">
                    <button class="btn btn-outline-secondary" onclick="alert('Evento busqueda')">
                        <span>&#63;</span>
                    </button>
                </div>
            </form>
            <hr>
            <div class="table-responsive" style="max-height: 250px; overflow: scroll;">
                <table class="table table-hover table-sm" id="tablaFija" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th scope="col" class="th-sm">ID</th>
                            <th scope="col" class="th-sm">Descripción</th>
                            <th scope="col" class="th-sm">Capacidad</th>
                            <th scope="col" class="th-sm">Consumo</th>
                            <th scope="col" class="th-sm">M.2</th>
                            <th scope="col" class="th-sm"></th>
                            <th scope="col" class="th-sm"></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-2 col-sm-12"></div>
        <div class="col-md-4 offset-md-4 p-2 col-sm-12 text-center">
            <button class="btn btn-outline-dark" onclick="LlamarModalAgregar();">
                <span>Añadir &plus;</span>
            </button>
        </div>
        <div class="col-md-8 p-2 col-sm-12 text-center"></div>
        <div class="col-md-2 col-sm-12"></div>
    </div>
</div>
<!--Modales de CU-->
<div id="modalAgregar" class="miModal">
    <div class="contenidoModal">
        <button class="btn" onclick="CerrarModales();">
            <span style="color: black;">&times;</span>
        </button>
        <!--Contenido del modal-->
        <div class="row">
            <div class="col-md-4 offset-md-4 col-sm-12">
                <h1 class="subtitle">Guardar</h1>
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-8 offset-md-2 col-sm-12">
                <form action="" class="form-control">
                    <!--Organizacion de los inputs con columnas nested-->
                    <div class="row">
                        <div class="col-md-12 p-3">
                            <input id="txtDescripcion" class="form-control" type="text" placeholder="Descripcion">
                        </div>
                        <div class="col-md-12 p-3">
                            <input id="txtConsumo" class="form-control" type="text" placeholder="Consumo (W)">
                        </div>
                        <div class="col-md-4 offset-md-2 col-sm-12 p-4">
                            <label for="">Es m.2</label><br/>
                            <input class="form-check-input" type="checkbox" value="" id="txtM2">
                        </div>
                        <div class="col-md-4 col-sm-12 p-2">
                            <label for="">Capacidad</label>
                            <select class="form-control" id="txtCapacidad">
                                <option value="">2</option>
                                <option value="">4</option>
                                <option value="">6</option>
                                <option value="">8</option>
                                <option value="">12</option>
                                <option value="">16</option>
                                <option value="">32</option>
                                <option value="">64</option>
                                <option value="">128</option>
                            </select>
                        </div>
                        <div class="col-md-4 offset-md-4 col-sm-12 p-2">
                            <button class="btn btn-outline-dark" onclick="Guardar();">
                                <span>Guardar &plus;</span>
                            </button>
                        </div>

                    </div>
                </form>
            </div>
            <div class="col-md-2"></div>
            <div></div>
        </div>
    </div>
</div>
@section Scripts
    {
    <script type="text/javascript">
        const LlamarModalAgregar = () => {
            document.getElementById("modalAgregar").style.display = "block";
        }
        const CerrarModales = () => {
            document.getElementById("modalAgregar").style.display = "none";
            //document.getElementById("modalModificar").style.display = "none";
        }
        const Guardar = () => {
            
        }
    </script>
}

